<div class="px-5 pt-5">
    <div class="flex flex-row w-full items-center justify-center mt-2">
      <h1 class="font-medium p-0 m-0">FIRST COMPETITOR</h1>
    </div>
    <div class="flex flex-row w-full items-center justify-center mt-2">
    <ng-container *ngFor="let c of competitorsName">
        <h2 class="font-medium p-0 m-0">{{c}}</h2>
    </ng-container>
    </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6 p-6">
    <ng-container *ngFor="let card of keyCards">
      <mat-card class="flex flex-col gap-5 items-center align-middle justify-center p-0 m-0 w-full rounded-[12px] shadow-none outline outline-1 outline-gray-300">
          <div class="flex justify-center align-middle items-center bg-gray-100 rounded-t-[12px] p-4 py-6 w-full md:h-full h-32">
              <p class="p-0 m-0 text-3xl md:text-3xl font-black {{card.colorFont}}">{{card.metric}}</p>
          </div>
          <div class="px-5">
            <h2 class="font-small text-white/80">{{card.label}}
              <mat-icon class="{{card.colorFont}}">{{card.icon}}</mat-icon>
            </h2>
          </div>
      </mat-card>
  </ng-container>
  </div>
  <div class="grid mt-2 p-7">
    <mat-card class="w-full h-full">
      <div class="flex justify-center align-middle items-center bg-white rounded-t-[12px] p-2 w-full h-full">
            <apx-chart
            [series]="comparativa.series"
            [fill]="comparativa.fill"
            [chart]="comparativa.chart"
            [xaxis]="comparativa.xaxis"
            [title]="comparativa.title"
            [plotOptions] = "comparativa.plotOptions"
          ></apx-chart>    
        </div>
    </mat-card> 
  </div>

</div>
