<div class="flex flex-col lg:flex-row gap-5 mx-6 p-6">
    <div class="flex flex-col gap-5">
        <!-- ID-CARD -->
        <mat-card id="" class="p-4 w-full lg:w-80 xl:w-96 rounded-[12px] shadow-none outline outline-1 outline-gray-300 bg-white">
            <div class="flex flex-rows-2 gap-5">
                <div class="w-32 h-32 rounded-lg">
                    <div class="logo flex w-full h-full items-center justify-center">
                        <p class="text-5xl font-medium text-TALENT-GRIS-FONDO m-0 p-0 tracking-wide">{{ cityAcronym }}</p>
                    </div>
                </div>
                <div class="flex h-32 flex-col align-middle gap-1">
                    <h2 class="mb-3">Name</h2>
                    <div class="flex items-center gap-2">
                        <mat-icon class="text-[#626262]">location_city</mat-icon>
                        <ng-container *ngFor="let c of city">
                            <h4 class="m-0 p-0">{{c.cityName}}</h4>
                        </ng-container>
                    </div>
                </div>
            </div>  
        </mat-card>
                <!--SIMULADOR-->
        <mat-card>
            <button mat-flat-button class="bg-[#1976d2] text-white w-full uppercase text-[13px]" (click)="navigate()">
                Go to Simulator
            </button>
         </mat-card>
        <!-- NOTES -->
        <mat-card class="p-4 w-full lg:w-80 xl:w-96 rounded-[12px] shadow-none outline outline-1 outline-gray-300 bg-white">
            <h2>Description</h2>
            <div class="flex flex-col gap-3 mb-5">
                <mat-card class="p-4 w-full bg-thuas-grijs-base/5 rounded-[12px] shadow-none outline outline-1 outline-thuas-grijs-base/30">
                    <p class="p-0 m-0 text-gray-600">There is a report that compares this city with each one of the other three cities
                        that are its principle competitors. The comparison is made based on the 28 key indicators that make a city attractive for talented people.
                    </p>
                </mat-card>
            </div>
        </mat-card>
    </div>
    <div class= "flex w-full h-full max-w-screen-xl px-5 md:px-10 text-black">
        <!--TABS-->
            <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="flex w-full bg-white rounded-[12px] shadow-none outline outline-1 outline-thuas-grijs-base/30">
                <mat-tab label="Overview" >
                        <app-general-tab [cityList]="city"></app-general-tab>
                </mat-tab>
                <mat-tab label="Competitor 1">
                   <app-firstcompetitor-tab [cityList]="city"></app-firstcompetitor-tab>            
                </mat-tab>
                <mat-tab label="Competitor 2">
                   <app-secondcompetitor-tab [cityList]="city"></app-secondcompetitor-tab>             
                </mat-tab>
                <mat-tab label="Competitor 3">
                    <app-thirdcompetitor-tab [cityList]="city"></app-thirdcompetitor-tab>
                </mat-tab>
                <mat-tab label="Article">
                    <app-article-tab></app-article-tab>
                </mat-tab>
            </mat-tab-group>
    </div>
</div>
